@import url('https://fonts.googleapis.com/css2?family=Fraunces&family=Montserrat&display=swap');
h1{
font-family: 'Fraunces', serif;
color: white;
margin-left: 50px;
}
h2{
font-family: 'Montserrat', sans-serif;
color: white;
margin-left: 50px;
}
html.home{
  background-image: url('Nature.jpg');
  background-repeat: no-repeat;
  background-position: 0px -130px;
  background-attachment: fixed;
  background-size: cover;
}
.textblock{
  background-color: rgba(209, 199, 199, 0.5);
  margin-right: 50px;
  margin-left: 50px;
  padding: 15px;
  text-align: justify;
}
nav ul{
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  justify-content: flex-end;
}
nav li{
  margin-left: 15px;
}
nav a:link{
  padding: 10px;
  color: rgb(75, 168, 21); 
  background-color: rgba(211, 210, 210, 0.89);
  border: 2px solid black;
}
.sublist{
display: none;
margin-top: 10px;
flex-direction: column;
position: absolute;
}
.itemwithdropdown:hover .sublist{
display: flex;
}
.sublist li{
margin-left: -1px;
}
.sublist li a{
  display: block;
}
nav a:hover{
color: blueviolet;
}
sublist a:hover{
color: blueviolet;
}
nav a:active{
  color: rgb(113, 238, 232);
}
sublist a:active{
  color: rgb(113, 238, 232); 
}
nav a:visited{
color: rgb(206, 13, 13);
}
sublist a:visited{
color: rgb(206, 13, 13);
}
nav a.current{
color: rgb(54, 53, 53);
}
sublist a.current{
color: rgb(54, 53, 53);
}